body{
    background-color:#222;
}
.main{
    padding-top:5rem ;
}
h1,hr{
    color: beige;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgIcon{
    align-content: space-between;
    width:40px;
}
